// $Black: #141414;
$Black: #141414;
$BlackFade: rgba(0, 0, 0, 0.4);
$FadedBlack: $BlackFade;

$White: #FFF;
$Purple: #6470B1;
$BlackFade: rgba(0, 0, 0, 0.4);
$DarkPurple: #40497C;
$Grey: #9C9994;
$DarkGrey: #565656;


// sizes  
$menuHiddenWidth: 1090px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  font-family: 'Lato', sans-serif;
}

body, html {
  height: 100vh;
  background-color: $White;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

main {
  // min-height: calc(100vh - (129.95px + 56px));
  max-width: 1400px;
  overflow: hidden;
  margin: auto;
}

h1 {
  color: $DarkGrey;
  font-weight: normal;
  font-size: 40px;
  margin: 10px;
}

h1 {
  color: $DarkGrey;
  font-weight: normal;
  font-size: 40px;
  margin: 10px;
}

h3{
  color: $Grey;
}

.button, button {
  transition: 0.3s all ease;
  background: $Purple;
  border: none;
  padding: 5px;
  color: $White;
  font-weight: 700;
  &:after{
    display: inline-block;
    content: "→";
    margin-left: 5px;
  }
  &:hover{
    background: $DarkPurple;
    cursor: pointer;
  }
}
