/*
route
 - /(es|en)/contact
*/

.contact-main {
  p { color: white; }
  .c__purple {
    color: $Purple;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .row-flex {
    display: flex;
    @media(max-width: 900px) {
      flex-direction: column;
    }
  }
  .column {
    &-small {
      flex-direction: column;
      display: inline-flex;
      flex-direction: column;
      padding: 15px;
      input, textarea {
        background-color: $BlackFade;
        color: whitesmoke;
        padding: 10px 15px;
        font-size: 19px;
        border: none;
        border: 3px solid #383838;
        margin-top: 20px;
        resize: none;
        &:focus {
          border: 3px solid $Purple;
        }
      }
    }
    &-big {
      display: inline-block;
      height: 100px;
      padding: 15px;
      img {
        width: 60vw;
        @media(max-width: 900px) {
          width: 100%;
        }
      }
    }
  }
}
