.textPage{
    p{
        color: white;
        font-weight: normal;
        margin: 10px auto;
        text-align: justify;
        font-size: 14px;
        b{
            font-weight: 700;
        }
    }
}