.hambgr-menu {
  margin-right: 20px;
  position: absolute;
  right: 20px;
  top: 70px;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
  &:active {
    opacity: 0.5;
  }
  @media(min-width: $menuHiddenWidth) {
    display: none;
  }
}

header {
  padding: 20px;
  padding-top: 50px;
  border-bottom: solid 2px #6470B170;
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    > ul {
      display: flex;
      list-style: none;
      padding: 0;
      transition: transform 0.3s ease;
      > li {
        @media(min-width: $menuHiddenWidth) {
          &:first-of-type {
            display: none;
          }
        }
        position: relative;
        margin: 2px;
        font-size: 14px;
        font-weight: 600;
        transition: all ease 0.5s;
        *{
          transition: all ease 0.5s;
        }
        &.close {
          cursor: pointer;
          padding: 10px;
        }
        > a {
          display: flex;
          align-items: center;
          padding: 8px 10px;
          color: $Purple;
          svg{
            transition: transform 0.5s ease;
            margin-left: 5px;
            path{
              fill: $Purple;
            }
          }
          &:hover {
            background-color: $Purple;
            color: $White;
            svg{
              transform: rotate(180deg);
              path{
                fill: $White;
              }
            }
          }
        }
        .current{
          background-color: $Purple;
          color: $White;
        }
        &:hover {
          > ul {
            display: block;
          }
        }
        /* sub menu */
        > ul {
          display: none;
          min-width: 180px;
          background: $Purple;
          padding-top: 5px;
          @media(min-width: $menuHiddenWidth) {
            position: fixed;
            left: 0;
            top: 33px;
          }
          li {
            margin-bottom: 2.5px;
            width: 130px;
            width: 100%;
            a {
              color: $White;
              padding: 10px;
              width: 100%;
              display: block;
              &:hover {
                background-color: $DarkPurple;
              }
            }
          }
        }
      }
    }
  }
  @media(max-width: $menuHiddenWidth) {
    > nav > ul {
      position: fixed;
      overflow-y: auto;
      right: 0;
      top: 0;
      height: 100vh;
      padding: 5px 10px !important;
      background-color: $DarkPurple;
      flex-direction: column;
      width: 300px;
      transform: translate(100%);
      z-index: 99;
      &.open {
        transform: translate(0%);
      }
      li {
        margin-top: 8px;
        margin-bottom: 8px;
        width: 100%;
        font-size: 14px;
        display: block;
        font-weight: 600;
        a {
          width: 100%;
          display: flex;
          padding: 14px 10px !important;
          color: $White !important;
          svg{
            path{
              fill: $White;
            }
          }
          &:hover {
            background-color: $Purple;
          }
        }
      }
    }
  }
}

#darkLayer{
  transition: transform 0.3s ease;
  transform: translate(100%);
  @media (max-width: $menuHiddenWidth) {
    position: fixed;
    z-index: 98;
    background: $FadedBlack;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100vh;
    width: 100vw;
    &.open{
      transform: translate(0%);
    }
  }
}

.banner{
  background-image: url(/R/img/banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 535px;
  background-position: top;
}

/* Pasar a conf */

$Grey: #9C9994;

h3{
  color: $Grey;
}
button{
  transition: 0.3s all ease;
  background: $Purple;
  border: none;
  padding: 5px;
  color: $White;
  font-weight: 700;
  &:after{
    display: inline-block;
    content: "→";
    margin-left: 5px;
  }
  &:hover{
    background: $DarkPurple;
    cursor: pointer;
  }
}
