.fastList{
    >ul{
        list-style: none;
        display: flex;
        width: 100%;
        justify-content: space-around;
        padding: 25px 0;
        @media (max-width: 780px) {
            display: block;
        }
        >li{
            @media (max-width: 780px) {
                display: block;
                text-align: center;
                margin-bottom: 20px;
            }
            h3{
                margin: 10px auto;
            }
        }
    }
}