@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  font-family: 'Lato', sans-serif; }

body, html {
  height: 100vh;
  background-color: #141414;
  overflow-x: hidden; }

a {
  text-decoration: none;
  color: inherit; }

main {
  min-height: calc(100vh - (129.95px + 56px));
  max-width: 1400px;
  overflow: hidden;
  margin: auto; }

h1 {
  color: white;
  font-weight: normal;
  font-size: 40px;
  margin: 10px; }

h1 {
  color: white;
  font-weight: normal;
  font-size: 40px;
  margin: 10px; }

h3 {
  color: #9C9994; }

.button, button {
  transition: 0.3s all ease;
  background: #6470B1;
  border: none;
  padding: 5px;
  color: #FFF;
  font-weight: 700; }
  .button:after, button:after {
    display: inline-block;
    content: "\2192";
    margin-left: 5px; }
  .button:hover, button:hover {
    background: #40497C;
    cursor: pointer; }

.hambgr-menu {
  margin-right: 20px;
  position: absolute;
  right: 20px;
  top: 70px;
  cursor: pointer; }
  .hambgr-menu:hover {
    opacity: 0.8; }
  .hambgr-menu:active {
    opacity: 0.5; }
  @media (min-width: 1090px) {
    .hambgr-menu {
      display: none !important;
      opacity: 0; } }

header {
  padding: 20px;
  padding-top: 50px;
  border-bottom: solid 2px #6470B170; }
  header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto; }
    header nav > ul {
      display: flex;
      list-style: none;
      padding: 0;
      transition: transform 0.3s ease; }
      header nav > ul > li {
        position: relative;
        margin: 2px;
        font-size: 14px;
        font-weight: 600;
        transition: all ease 0.5s;
        /* sub menu */ }
        @media (min-width: 1090px) {
          header nav > ul > li:first-of-type {
            display: none; } }
        header nav > ul > li * {
          transition: all ease 0.5s; }
        header nav > ul > li.close {
          cursor: pointer;
          padding: 10px; }
        header nav > ul > li > a {
          display: flex;
          align-items: center;
          padding: 8px 10px;
          color: #6470B1; }
          header nav > ul > li > a svg {
            transition: transform 0.5s ease;
            margin-left: 5px; }
            header nav > ul > li > a svg path {
              fill: #6470B1; }
          header nav > ul > li > a:hover {
            background-color: #6470B1;
            color: #FFF; }
            header nav > ul > li > a:hover svg {
              transform: rotate(180deg); }
              header nav > ul > li > a:hover svg path {
                fill: #FFF; }
        header nav > ul > li .current {
          background-color: #6470B1;
          color: #FFF; }
        header nav > ul > li:hover > ul {
          display: block; }
        header nav > ul > li > ul {
          display: none;
          min-width: 180px;
          background: #6470B1;
          padding-top: 5px; }
          @media (min-width: 1090px) {
            header nav > ul > li > ul {
              position: fixed;
              left: 0;
              top: 33px; } }
          header nav > ul > li > ul li {
            margin-bottom: 2.5px;
            width: 130px;
            width: 100%; }
            header nav > ul > li > ul li a {
              color: #FFF;
              padding: 10px;
              width: 100%;
              display: block; }
              header nav > ul > li > ul li a:hover {
                background-color: #40497C; }
  @media (max-width: 1090px) {
    header > nav > ul {
      position: fixed;
      overflow-y: auto;
      right: 0;
      top: 0;
      height: 100vh;
      padding: 5px 10px !important;
      background-color: #40497C;
      flex-direction: column;
      width: 300px;
      transform: translate(100%);
      z-index: 99; }
      header > nav > ul.open {
        transform: translate(0%); }
      header > nav > ul li {
        margin-top: 8px;
        margin-bottom: 8px;
        width: 100%;
        font-size: 14px;
        display: block;
        font-weight: 600; }
        header > nav > ul li a {
          width: 100%;
          display: flex;
          padding: 14px 10px !important;
          color: #FFF !important; }
          header > nav > ul li a svg path {
            fill: #FFF; }
          header > nav > ul li a:hover {
            background-color: #6470B1; } }

#darkLayer {
  transition: transform 0.3s ease;
  transform: translate(100%); }
  @media (max-width: 1090px) {
    #darkLayer {
      position: fixed;
      z-index: 98;
      background: rgba(0, 0, 0, 0.4);
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      height: 100vh;
      width: 100vw; }
      #darkLayer.open {
        transform: translate(0%); } }

.banner {
  background-image: url("/R/img/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 535px;
  background-position: top; }

.current {
  background: #6470B1;
  color: white; }
  .current a {
    color: white; }

footer {
  background-color: black;
  color: white;
  padding: 20px;
  font-size: 13px; }
  footer .flex-container > div {
    display: inline-block;
    margin-left: 30px; }

.floating-action-button {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 60px;
  height: 60px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center; }
  .floating-action-button img {
    width: 35px;
    height: 35px; }

/*
route
 - /(es|en)/contact
*/
.contact-main p {
  color: white; }

.contact-main .c__purple {
  color: #6470B1;
  margin-top: 20px;
  margin-bottom: 20px; }

.contact-main .row-flex {
  display: flex; }
  @media (max-width: 900px) {
    .contact-main .row-flex {
      flex-direction: column; } }

.contact-main .column-small {
  flex-direction: column;
  display: inline-flex;
  flex-direction: column;
  padding: 15px; }
  .contact-main .column-small input, .contact-main .column-small textarea {
    background-color: rgba(0, 0, 0, 0.4);
    color: whitesmoke;
    padding: 10px 15px;
    font-size: 19px;
    border: none;
    border: 3px solid #383838;
    margin-top: 20px;
    resize: none; }
    .contact-main .column-small input:focus, .contact-main .column-small textarea:focus {
      border: 3px solid #6470B1; }

.contact-main .column-big {
  display: inline-block;
  height: 100px;
  padding: 15px; }
  .contact-main .column-big img {
    width: 60vw; }
    @media (max-width: 900px) {
      .contact-main .column-big img {
        width: 100%; } }

/* Inicio */
.fastList > ul {
  list-style: none;
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 25px 0; }
  @media (max-width: 780px) {
    .fastList > ul {
      display: block; } }
  @media (max-width: 780px) {
    .fastList > ul > li {
      display: block;
      text-align: center;
      margin-bottom: 20px; } }
  .fastList > ul > li h3 {
    margin: 10px auto; }

/* Pages */
.text-page {
  padding: 0 25px; }
  .text-page > section {
    margin: 10% 0; }
  .text-page p, .text-page ol > li {
    color: #e2e2e2;
    font-weight: normal;
    margin: 10px auto;
    font-size: 16px;
    line-height: 1.6em; }
    .text-page p b, .text-page ol > li b {
      font-weight: 200;
      border-bottom: 3px solid #6470B1;
      font-size: 25px; }
  .text-page ol {
    padding-left: 35px;
    list-style: lower-latin; }
  .text-page h3 {
    font-size: 20px;
    color: #FFF; }

.float-r-img {
  margin: 0px 0px 30px 30px; }
  @media (min-width: 800px) {
    .float-r-img {
      padding: 0 0 20px 20px;
      float: right; } }
  .float-r-img > img  {
    width: 100%; }

.float-l-img {
  margin: 30px 30px 0px 0px; }
  @media (min-width: 800px) {
    .float-l-img {
      padding: 0 20px 20px 0;
      float: left; } }
  .float-l-img > img {
    width: 100%; }

.float-r-img,
.float-l-img {
  background-size: cover;
  width: 55%;
  height: 0;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 45%; }
  @media (max-width: 800px) {
    .float-r-img,
    .float-l-img {
      width: 100%;
      margin: 0;
      margin-bottom: 20px;
      padding-top: 30%; } }

/*# sourceMappingURL=bundle.css.map*/