@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  font-family: 'Lato', sans-serif; }

body, html {
  height: 100vh;
  background-color: #FFF;
  overflow-x: hidden; }

a {
  text-decoration: none;
  color: inherit; }

main {
  max-width: 1400px;
  overflow: hidden;
  margin: auto; }

h1 {
  color: #565656;
  font-weight: normal;
  font-size: 40px;
  margin: 10px; }

h1 {
  font-weight: normal;
  font-size: 40px;
  margin: 10px; }

h3 {
  color: #9C9994; }

h4 {
  color: #565656;
  text-align: center;
  font-size: 30px; }

.button, button {
  transition: 0.3s all ease;
  background: #6470B1;
  border: none;
  padding: 5px;
  color: #FFF;
  font-weight: 700; }
  .button:after, button:after {
    display: inline-block;
    content: "\2192";
    margin-left: 5px; }
  .button:hover, button:hover {
    background: #40497C;
    cursor: pointer; }

.lightbox {
  /** Default lightbox to hidden */
  display: none;
  /** Position and style */
  position: fixed;
  z-index: 10000;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  text-decoration: none !important; }
  .lightbox > div {
    display: flex;
    margin: 0 auto;
    width: 490px;
    max-width: 90%; }
    .lightbox > div > button {
      width: 100%; }
    @media (max-width: 550px) {
      .lightbox > div {
        display: block; }
        .lightbox > div > button {
          display: block;
          width: 100%; } }
  .lightbox #whatsSharePopUp {
    display: block;
    margin: 5px auto; }

.lightbox img {
  /** Pad the lightbox image */
  max-width: 90%;
  max-height: 80%;
  margin-top: 2%;
  /* width: 80%;
  max-width: 400px;
  margin-bottom: 10px; */ }

.lightbox:target {
  /** Remove default browser outline */
  outline: none;
  /** Unhide lightbox **/
  display: block;
  /* flex-direction: column;
  justify-content: center;
  align-items: center; */ }

.hambgr-menu {
  margin-right: 20px;
  position: absolute;
  right: 20px;
  top: 70px;
  cursor: pointer;
  z-index: 99; }
  .hambgr-menu:hover {
    opacity: 0.8; }
  .hambgr-menu:active {
    opacity: 0.5; }
  @media (min-width: 1090px) {
    .hambgr-menu {
      display: none !important;
      opacity: 0; } }

header {
  padding: 50px 20px 40px 20px;
  border-bottom: solid 2px #6470B170;
  position: relative; }
  header nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto; }
    header nav .header-left {
      align-items: center; }
      header nav .header-left > ul {
        margin-top: 10px;
        list-style: none; }
        header nav .header-left > ul > li {
          color: #565656;
          padding-bottom: 5px; }
          header nav .header-left > ul > li > a {
            color: #6470B1;
            display: inline-block; }
            header nav .header-left > ul > li > a > img {
              max-width: 20px;
              margin: 0 5px; }
      @media (min-width: 1090px) {
        header nav .header-left {
          display: flex;
          height: 56px; }
          header nav .header-left > img {
            margin-right: 5px; }
          header nav .header-left > ul {
            margin-top: 0;
            padding-left: 10px; } }
    header nav > ul {
      display: flex;
      list-style: none;
      padding: 0;
      transition: transform 0.3s ease; }
      header nav > ul > li {
        position: relative;
        margin: 2px;
        font-size: 14px;
        font-weight: 600;
        transition: all ease 0.5s;
        /* sub menu */ }
        @media (min-width: 1090px) {
          header nav > ul > li:first-of-type {
            display: none; } }
        header nav > ul > li * {
          transition: all ease 0.5s; }
        header nav > ul > li.close {
          cursor: pointer;
          padding: 10px; }
        header nav > ul > li > a {
          display: flex;
          align-items: center;
          padding: 8px 10px;
          color: #6470B1; }
          header nav > ul > li > a svg {
            transition: transform 0.5s ease;
            margin-left: 5px; }
            header nav > ul > li > a svg path {
              fill: #6470B1; }
        header nav > ul > li:hover > a {
          background-color: #6470B1;
          color: #FFF; }
          header nav > ul > li:hover > a svg {
            transform: rotate(180deg); }
            header nav > ul > li:hover > a svg path {
              fill: #FFF; }
        header nav > ul > li .current {
          background-color: #6470B1;
          color: #FFF; }
        header nav > ul > li:hover > ul {
          display: block; }
        header nav > ul > li > ul {
          display: none;
          min-width: 180px;
          background: #6470B1;
          padding-top: 5px; }
          @media (min-width: 1090px) {
            header nav > ul > li > ul {
              position: absolute;
              z-index: 999;
              left: 0;
              right: 0;
              top: 33px; } }
          header nav > ul > li > ul li {
            margin-bottom: 2.5px;
            width: 130px;
            width: 100%; }
            header nav > ul > li > ul li a {
              color: #FFF;
              padding: 10px;
              width: 100%;
              display: block; }
              header nav > ul > li > ul li a:hover {
                color: #FFF;
                background-color: #40497C; }
  @media (max-width: 1090px) {
    header > nav > ul {
      position: fixed;
      overflow-y: auto;
      right: 0;
      top: 0;
      height: 100vh;
      padding: 5px 10px !important;
      background-color: #40497C;
      flex-direction: column;
      width: 300px;
      transform: translate(100%);
      z-index: 99; }
      header > nav > ul.open {
        transform: translate(0%); }
      header > nav > ul li {
        margin-top: 8px;
        margin-bottom: 8px;
        width: 100%;
        font-size: 14px;
        display: block;
        font-weight: 600; }
        header > nav > ul li a {
          width: 100%;
          display: flex;
          padding: 14px 10px !important;
          color: #FFF !important; }
          header > nav > ul li a svg path {
            fill: #FFF; }
          header > nav > ul li a:hover {
            background-color: #6470B1; } }

#darkLayer {
  transition: transform 0.3s ease;
  transform: translate(100%); }
  @media (max-width: 1090px) {
    #darkLayer {
      position: fixed;
      z-index: 98;
      background: rgba(0, 0, 0, 0.4);
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      height: 100vh;
      width: 100vw; }
      #darkLayer.open {
        transform: translate(0%); } }

.banner {
  background-repeat: no-repeat;
  background-size: cover;
  height: 535px;
  position: relative;
  background-position: bottom; }
  @media (max-width: 800px) {
    .banner {
      height: 415px; } }
  @media (max-width: 500px) {
    .banner {
      height: 215px; } }
  .banner .slidesjs-navigation {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 99;
    background-color: white;
    text-decoration: none;
    color: black;
    font-size: 22px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%; }
  .banner .slidesjs-previous {
    right: none;
    left: 10px; }
  .banner .slidesjs-play,
  .banner .slidesjs-stop {
    display: none !important; }

/* Change coincidence and change it */
.current {
  background: #6470B1;
  color: white; }
  .current a {
    color: white; }
    .current a svg path {
      fill: #FFF; }
  .current:hover {
    background-color: black; }

.no-current {
  background: none !important; }

.langs {
  position: absolute;
  top: -20px;
  right: 5px;
  color: #565656 !important; }
  .langs a {
    text-decoration: none;
    color: #565656; }
    .langs a > img {
      width: 15px; }

footer {
  background-color: #FFF;
  color: white;
  padding: 20px;
  font-size: 13px; }
  footer .flex-container {
    display: flex;
    align-items: center; }
    footer .flex-container > div {
      display: inline-block;
      margin-left: 30px; }
      footer .flex-container > div > p {
        padding-bottom: 5px; }
        footer .flex-container > div > p > a {
          color: #6470B1;
          display: inline-block; }
          footer .flex-container > div > p > a > img {
            max-width: 20px;
            margin: 0 5px; }

.floating-action-button {
  position: fixed;
  bottom: 30px;
  left: 30px;
  width: 60px;
  height: 60px;
  z-index: 9999;
  border: 2px solid #6470B1;
  background-color: #6470B1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer; }
  .floating-action-button:hover {
    background-color: #40497C;
    border-color: #40497C; }
  .floating-action-button img {
    width: 35px;
    height: 35px; }

.floating-action-button-right {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 60px;
  height: 60px;
  z-index: 9999;
  border: 2px solid #6470B1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #00e037;
  border-color: #00e037; }
  .floating-action-button-right:hover {
    background-color: #00a028;
    border-color: #00a028; }
  .floating-action-button-right img {
    width: 35px;
    height: 35px; }

.floating-action-menu {
  position: fixed;
  left: 20px;
  width: 300px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  bottom: 20px;
  z-index: 99999;
  background: white; }
  .floating-action-menu.hidden {
    display: none; }
  .floating-action-menu img {
    display: inline-block;
    padding-left: 10px;
    cursor: pointer; }
  .floating-action-menu .c__purple {
    margin: 6px 0;
    font-size: 17px; }

/*
route
 - /(es|en)/contact
*/
p {
  color: white; }

.c__purple {
  color: #6470B1;
  margin-top: 20px;
  margin-bottom: 20px; }

.row-flex {
  display: flex; }
  @media (max-width: 900px) {
    .row-flex {
      flex-direction: column; } }

.column-small {
  flex-direction: column;
  display: inline-flex;
  flex-direction: column;
  padding: 15px; }
  .column-small input, .column-small textarea {
    background-color: #FFF;
    color: #141414;
    padding: 10px 15px;
    font-size: 19px;
    border: none;
    border: 3px solid rgba(0, 0, 0, 0.4);
    margin-top: 20px;
    resize: none; }
    .column-small input:focus, .column-small textarea:focus {
      border: 3px solid #6470B1; }

.column-big {
  display: inline-block;
  height: 100px;
  padding: 15px; }
  .column-big img {
    width: 60vw; }
    @media (max-width: 900px) {
      .column-big img {
        width: 100%; } }

/* Inicio */
.fastList {
  padding: 0 5px; }
  .fastList > ul {
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 25px 0; }
    @media (max-width: 780px) {
      .fastList > ul {
        display: block; } }
    .fastList > ul > li {
      padding: 0 5px;
      margin-top: 30px; }
      @media (max-width: 780px) {
        .fastList > ul > li {
          display: block;
          text-align: center;
          margin-bottom: 20px; } }
      .fastList > ul > li a {
        text-decoration: none !important; }
      .fastList > ul > li figure {
        width: 250px;
        height: 300px;
        background-position: center;
        background-size: cover;
        margin: auto; }
      .fastList > ul > li h3 {
        margin: 30px auto;
        font-size: 1.17em;
        color: #9C9994;
        font-weight: 700; }
        .fastList > ul > li h3:hover {
          text-decoration: none !important; }
      .fastList > ul > li h2 {
        font-size: 1.5em;
        color: black;
        font-weight: 700; }
        .fastList > ul > li h2:hover {
          text-decoration: none !important; }

.slidesjs-navigation {
  z-index: 97 !important; }

main#home, main#hotels {
  width: 100%;
  max-width: 100%; }
  main#home .banner, main#hotels .banner {
    width: 100%; }
    @media (min-width: 992px) {
      main#home .banner, main#hotels .banner {
        height: calc(100vh - 100px); } }
    main#home .banner .slidesjs-container, main#hotels .banner .slidesjs-container {
      width: 100%; }
      main#home .banner .slidesjs-container .slidesjs-control, main#hotels .banner .slidesjs-container .slidesjs-control {
        width: 100%; }
        main#home .banner .slidesjs-container .slidesjs-control > img, main#hotels .banner .slidesjs-container .slidesjs-control > img {
          top: unset !important;
          bottom: 0; }
  main#home .map-title, main#hotels .map-title {
    margin-top: 80px;
    margin-bottom: 20px; }
  main#home .map-responsive, main#hotels .map-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
    margin-bottom: 120px; }
    main#home .map-responsive iframe, main#hotels .map-responsive iframe {
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      position: absolute; }

/* Pages */
.text-page {
  padding: 0 25px; }
  .text-page > section {
    margin: 5% 0; }
  .text-page p, .text-page ol > li {
    color: #565656;
    font-weight: normal;
    margin: 10px auto;
    font-size: 16px;
    line-height: 1.6em; }
    .text-page p b, .text-page ol > li b {
      font-weight: 200;
      border-bottom: 3px solid #6470B1;
      font-size: 25px; }
  .text-page ol {
    padding-left: 35px;
    list-style: lower-latin; }
  .text-page h3 {
    font-size: 20px;
    color: #565656; }

.float-r-img {
  margin: 0px 0px 30px 30px; }
  @media (min-width: 800px) {
    .float-r-img {
      /* padding: 0 0 20px 20px; */
      float: right; } }
  .float-r-img > img  {
    width: 100%; }

.float-l-img {
  margin: 30px 30px 0px 0px; }
  @media (min-width: 800px) {
    .float-l-img {
      /* padding: 0 20px 20px 0; */
      float: left; } }
  .float-l-img > img {
    width: 100%; }

.float-r-img,
.float-l-img {
  background-size: cover;
  width: 55%;
  height: 0;
  background-position: center;
  background-position-x: center;
  background-position-y: top;
  background-repeat: no-repeat;
  padding-top: 45%; }
  @media (max-width: 800px) {
    .float-r-img,
    .float-l-img {
      width: 100%;
      margin: 0;
      margin-bottom: 20px;
      /* padding-top: 30%; */ } }

.fichas {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  justify-content: center;
  align-items: center; }
  .fichas > li {
    margin: 10px;
    max-width: 300px; }
    .fichas > li > img {
      width: 100%;
      margin-bottom: 5px; }
    .fichas > li a {
      color: #6470B1;
      font-weight: 700;
      display: block;
      width: 100%;
      border: 2px solid #6470B1;
      padding: 5px 8px;
      text-align: center;
      transition: all ease 0.3s; }
      .fichas > li a:hover {
        background: #6470B1;
        color: #FFF;
        text-decoration: none; }
    .fichas > li .doubleBtn {
      display: flex; }
      .fichas > li .doubleBtn > a {
        width: 50%; }
        .fichas > li .doubleBtn > a:first-child {
          border-right: 0px; }

/* Buy */
ul {
  list-style: none;
  padding: 0;
  margin: 0; }

.house {
  padding: 10px; }
  @media (min-width: 1050px) {
    .house {
      padding: 50px; } }
  .house h1 {
    text-align: center;
    margin-bottom: 50px; }
  .house .house-txt {
    color: #565656;
    font-size: 20px;
    font-weight: 700;
    text-align: justify; }
  .house .flex-container {
    display: flex;
    flex-direction: column-reverse;
    width: 100%; }
    @media (min-width: 900px) {
      .house .flex-container {
        flex-direction: row; } }
    .house .flex-container > li:first-child {
      width: 100%; }
      @media (min-width: 900px) {
        .house .flex-container > li:first-child {
          width: calc(100vw - 500px); } }
      .house .flex-container > li:first-child .video-container {
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 25px;
        height: 0; }
        .house .flex-container > li:first-child .video-container iframe {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%; }
    .house .flex-container > li:last-child {
      width: 100%;
      padding: 5px;
      margin: 0 auto; }
      @media (min-width: 900px) {
        .house .flex-container > li:last-child {
          width: 500px; } }
      .house .flex-container > li:last-child .specs {
        display: block;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 20px; }
        .house .flex-container > li:last-child .specs > li {
          width: 100%;
          display: flex; }
          .house .flex-container > li:last-child .specs > li:nth-child(odd) {
            background: #dfdfdf; }
          .house .flex-container > li:last-child .specs > li:first-child > span {
            text-align: center;
            font-weight: 700;
            width: 100%; }
          .house .flex-container > li:last-child .specs > li > span {
            text-align: center;
            width: 50%;
            padding: 5px; }

/* Slider */
.carousel {
  width: 100%; }
  .carousel .carousel-inner {
    max-width: 825px;
    height: auto;
    overflow: hidden;
    position: relative; }
    .carousel .carousel-inner > img {
      width: auto;
      height: 100%; }

.thumbnails {
  display: flex;
  justify-content: center;
  align-items: center; }
  .thumbnails > li {
    width: 150px !important;
    height: auto !important;
    padding: 5px;
    cursor: pointer; }
  .thumbnails .active {
    border: 3px solid #6470B1; }

/* Hotels */
.hotels {
  /* .hotels-banner {
    display: flex;
    height: 300px;
    .hotels-banner-img {
      width: calc(100% / 3);
      height: 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  } */ }
  .hotels .hotels-banner-img {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
  .hotels .centered-text {
    text-align: center;
    padding: 15px 0; }
    .hotels .centered-text h4 {
      text-align: center; }
    .hotels .centered-text h2 {
      text-transform: uppercase;
      font-size: 3em; }

/*# sourceMappingURL=bundle.css.map*/